@font-face {
    font-family: "Amiga Forever";
    src: url('/font/amiga4everpro.eot');
    src: url('/font/amiga4everpro.eot') format('embedded-opentype'),
         url('/font/amiga4everpro.woff2') format('woff2'),
         url('/font/amiga4everpro.woff') format('woff'),
         url('/font/amiga4everpro.ttf') format('truetype');
}
:root {
    --black: #111012;
    --lightblack: #1f1e1f;
    --darkgray: #323033;
    --gray: #5b565e;
    --lightgray: #666166;
    --darkwhite: #989498;
    --white: #e6e2e6;
    --purewhite: #fdfdfd;
    --lightorange: #fea26b;
    --lightred: #f35039;
    --red: #aa3123;
    --darkred: #7d1c14;
    --brown: #462510;
    --lightbrown: #77411d;
    --orange: #be692f;
    --pastelorange: #f9ca54;
    --yellow: #f9ed28;
    --dirtyyellow: #bf981a;
    --darkorange: #785e10;
    --darkbrown: #473609;
    --darkgreen: #2b3e07;
    --green: #4c6b0d;
    --lightgreen: #7cad15;
    --lightyellowishgreen: #dcf41f;
    --lightpastelyellow: #e7e598;
    --yellowishgreen: #8c8a4b;
    --lightcamogreen: #57552e;
    --camogreen: #32311a;
    --darkpastelgreen: #28331e;
    --semipastelgreen: #455a34;
    --pastelgreen: #709355;
    --lightpastelgreen: #d1ebac;
    --lightskyblue: #caede5;
    --pastelblue: #6a988a;
    --darkpastelblue: #415e55;
    --darkgreyblue: #253631;
    --verydarkgreen: #1f4219;
    --darkneongreen: #35712d;
    --neongreen: #57b549;
    --lightneongreen: #b0f793;
    --neonblue: #a4f2f2;
    --aqua: #51a5a5;
    --darkaqua: #326666;
    --verydarkaqua: #1c3b3b;
    --darkblue: #1e3b85;
    --blue: #3466b0;
    --lightblue: #55a5f6;
    --lightpastelblue: #acf2fe;
    --verylightpastelpurple: #dce1fe;
    --lightbluishpurple: #7c83f4;
    --bluishpurple: #4c50ab;
    --darkbluishpurple: #2b2e7f;
    --darkpastelpurple: #332f4c;
    --pastelpurple: #5a527d;
    --lightpastelpurple: #9386c7;
    --purplewhite: #ebe4fa;
    --verylightpurple: #f2c6fb;
    --lightpurple: #a566cd;
    --purple: #663f82;
    --darkpurple: #3b244f;
    --purplepink: #572033;
    --darkpink: #8a395a;
    --pink: #d75d92;
    --lightpink: #fcb9ea;
}
::-webkit-scrollbar {
    width: 0px;
}
html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
    font-family: "Amiga Forever";
    word-wrap: break-word;
}
.text {
    margin: 0;
}
.terminalscreen {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    background-color: var(--black);
    color: var(--white);
    overflow-y: scroll;
}